<template>
  <require from="../resources/elements/user-settings"></require>
  <h4 class="ui dividing header"> User Settings </h4>
  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui ten wide column">
        <div class="ui stacked fluid form segment">
          <user-settings user="user"></user-settings>
        </div>
      </div>
      <aside class="ui five wide column">
        <img class="ui medium image" src="/images/homer3.png">
      </aside>
    </div>
  </section>
</template>

